<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="<%= index_pokemon_path %>">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="<%= about_pokemon_path %>">About</a>
      </li>
    </ul>
  </div>
</div>

<div class="card-body">
  <h4 class="card-title">About Us</h4>
  <p class="card-text">Information about this website dataset can be found below.</p>

  <h4>Dataset Description</h4>
  <p>
    Choose pokemon datasets including pokedex, types, and images. The pokedex I would be
    grouping the pokemon by types. Will have option to sort by Name (A-Z), Type, HP, Attack, and
    Defence. The Pokedex contains data such as names (English and French), types, down to base
    stats (HP, Attack, Defence, Sp. Attack, Sp. Defense, and speed). Types dataset will mainly be
    for organizational categories and populating menus within the application. Images will be called
    for photo reference, ID is equal to photo number (eg. id: 1 to 001.png etc). All related data will
    be on the page required by the Pokemon with navigation to related types.
  </p>
</div>

