<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= about_pokemon_path %>">About</a>
      </li>
    </ul>
  </div>
</div>

<div class="card-body">
  <h5 class="card-title">Home Page</h5>
  <p class="card-text">Search or scroll down to review all pokemon.</p>
</div>